.bicicletas-listas {
	padding-top: 120px;
	padding-bottom: 120px;
}

.bicicletas-listas h2 {
	margin-bottom: 40px;

}

.bicicletas-listas ul {
	display: flex;
	gap: 40px;
	padding: 0 20px 20px 20px;
	max-width: 1440px;
	margin-left: auto;
	margin-right: auto;
	overflow-x: auto;
	-webkit-overflow-scrolling: touch;
}

.bicicletas-listas li {
	min-width: 280px;
}

.bicicletas-listas a {
	display: block;
}

.bicicletas-listas h3 {
	padding-top: 20px;
	display: flex;
	align-items: center;
	text-align: start;	
}

.bicicletas-listas h3::before {
	content: '';
	display: inline-block;
	height: 8px;
	width: 12px;
	background-color: var(--p-1);
	margin-right: 8px;
	transition: width 0.2s;
}

.bicicletas-listas a:hover h3::before {
	width: 24px;
}

.bicicletas-listas li span {
	display: flex;
	margin-left: 20px;
}

@media (max-width: 800px)  {
	.bicicletas-listas {
		padding-top: 0px;
		padding-bottom: 60px;
	}
	.bicicletas-listas ul {
		gap: 20px;
	}
	.bicicletas-listas h2 {
		font-size: 48px;
	}
	
}