.lojas {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0 40px;
  padding-bottom: 120px;
  position: relative;
}

.lojas h2 {
  grid-column: 1/-1;
  padding-bottom: 60px;
}

.lojas h3 {
  grid-column: 1/-1;
  padding-top: 32px;
  display: flex;
  align-items: center;
}

.lojas-conteudo h3::before {
	content: "";
	display: inline-block;
	height: 8px;
	width: 12px;
	background-color: var(--p-1);
	margin-right: 8px;
}
.lojas img {
  border-radius: 4px 4px 0 0;
}

.lojas-item {
  border-radius: 4px;
  background: var(--cor-0);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.lojas-conteudo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 32px 60px;
  gap: 32px;
}

.lojas-dados {
  display: grid;
  gap: 8px;
  border-left: 2px solid var(--cor-2);
  padding-left: 12px;
}

.lojas-dados a {
	text-align: left;
}

.loja-tempo {
  display: flex;
  align-items: center;
  gap: 8px;
}

@media (max-width:800px) {
	.lojas {
		grid-template-columns: 1fr;
		gap: 40px;
	}

	.lojas h2 {
		font-size: 48px;
	}

	.lojas-conteudo {
		grid-template-columns: 1fr;
	}


}
